<?xml version="1.0"?>
<!--
/**
 * Copyright © Postpay. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <postpay>
                <active>0</active>
                <model>Postpay\Payment\Model\Postpay</model>
                <payment_action>authorize_capture</payment_action>
                <title>Postpay</title>
                <sandbox>0</sandbox>
                <merchant_id/>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <sandbox_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <product_widget>0</product_widget>
                <allowspecific>0</allowspecific>
                <sort_order>0</sort_order>
                <debug>0</debug>
            </postpay>
        </payment>
    </default>
</config>
